@mixin languageTags($property){
    margin-left: 7px;
    height: 15px;
    width: 23px;
    border-radius: 4px;
    background: url($property) center (center/cover) no-repeat
}
@mixin defaultTags($color,$color2){
    // box-shadow: 0px 0px 0px 1px darken($color, $amount);
    background-color: $color;
    box-shadow: 0px 0px 0px 1px $color2;
}