$background-color: #e6e6e6;
$item-color: white;
$link-grey: #6b6b6b;
$link-disabled: #cacaca;
$link-active: #007bff;


$bg-gradient-2: #ffd1ff;
$bg-gradient-1: #fad0c4;


$dismiss: red;
$confirm: green;


$exam-color: #ffabfb;
$lab-color: #fff4b9;
$practice-color: #ffd8b9;
$lect-color: #b9fff4;

$exam-border: #ff2cf5;
$lab-border: #d3b100;
$practice-border: #ff8320;
$lect-border: #00d3b1;