html{

    &[data-theme-style='normal']{
        --font-color:black;

        --column-item-shadow: rgba(0,0,0,0.3);

        --background-color: #e6e6e6;
        --item-color: white;
        --link-grey: #6a2f67; // #6b6b6b
        --link-disabled: #cacaca;
        --link-active: #007bff; //#2196F3


        --bg-gradient-2: #ffd1ff;
        --bg-gradient-1: #fad0c4;

        --checkmark-color: #eee;
        --checkmark-hover: #ccc;
        --input-color: white;

        --dismiss: red;
        --confirm: green;

        --qiwi-color: #FF8C00;

        --exam-color: #ffabfb;
        --lab-color: #fff4b9;
        --practice-color: #ffd8b9;
        --lect-color: #b9fff4;

        --exam-border: #ff2cf5;
        --lab-border: #d3b100;
        --practice-border: #ff8b02;
        --lect-border: #00d3b1;
    }

    &[data-theme-style='dark']{
        --font-color:#f4f4f4;

        --column-item-shadow: rgba(0,0,0,0);

        --background-color: #40303e;
        --item-color: #5e485c;
        --link-grey: #d787d3;
        --link-disabled: #342b33;
        --link-active: #b560b0;

        --bg-gradient-2: #210939;
        --bg-gradient-1: #3d062e;
        
        --checkmark-color: #4f1743;
        --checkmark-hover: #6c235c;
        --input-color: #895e85;

        --dismiss: #ff7e7e;
        --confirm: #60e860;

        --qiwi-color: #FF8C00;

        --exam-color: #84267f;
        --lab-color: #645818;
        --practice-color: #6a4324;
        --lect-color: #246e62;

        --exam-border: #bd24b5;
        --lab-border: #a48c15;
        --practice-border: #dd7320;
        --lect-border: #299080;
    }
}