$background-color: #e6e6e6;
$item-color: white;
$link-grey: #6b6b6b;


$bg-gradient-2: #ffd1ff;
$bg-gradient-1: #fad0c4;


$dismiss: red;
$confirm: green;


$exam-color: #ffabfb;
$lab-color: #fff4b9;
$practice-color: #ffd8b9;
$lect-color: #b9fff4;