@import 'libs/_bootstrap-reboot.min';
@import 'libs/font';
@import 'base/mixins';
@import 'base/variables';

*{
    font-family: 'CenturyGothic';
}

// .container {
//     max-width: 950px;
//     margin: 0 auto;
// }
html{
    // &:after{
    //     content : "";
    //     display: block;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100vh;
    //     z-index: -1;
    //     background: linear-gradient(to top, $bg-gradient-1 0%, $bg-gradient-2 100%) center (center/cover) no-repeat;
    // }
}
body{
    min-height: 100vh;
    padding-top: 150px;
    padding-bottom: 150px;
    background: linear-gradient(to top, $bg-gradient-1 0%, $bg-gradient-2 100%) center (center/cover) no-repeat;
    
}
// .container{
//     min-height: 100%;
// }

@import 'blocks/main-column';
@import 'blocks/links';
@import 'blocks/switch';
@import 'blocks/checkbox';
@import 'blocks/tags';
@import 'base/media';