@import 'libs/_bootstrap-reboot.min';
@import 'libs/font';
@import 'base/mixins';
@import 'base/variables';

*{
    font-family: 'CenturyGothic';
}

// .container {
//     max-width: 950px;
//     margin: 0 auto;
// }

body{
    padding-top: 150px;
    padding-bottom: 150px;
    background: linear-gradient(to top, $bg-gradient-1 0%, $bg-gradient-2 100%) center (center/cover) no-repeat;
}
// .container{
//     min-height: 100%;
// }
@import 'blocks/main-column';
@import 'blocks/switch';
@import 'blocks/checkbox';
@import 'blocks/tags';
@import 'base/media';