@import 'libs/bootstrap-reboot.min';
@import 'libs/bootstrap-popup';
@import 'libs/font';
@import 'base/mixins';
@import 'base/variables';
@import 'libs/jsCalendar.min';

*{
    font-family: 'CenturyGothic';
}

// .container {
//     max-width: 950px;
//     margin: 0 auto;
// }
//html{
    // &:after{
    //     content : "";
    //     display: block;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100vh;
    //     z-index: -1;
    //     background: linear-gradient(to top, $bg-gradient-1 0%, $bg-gradient-2 100%) center (center/cover) no-repeat;
    // }
//}
body{
    color:var(--font-color);
    min-height: 100vh;
    padding-top: 150px;
    background: linear-gradient(to top, var(--bg-gradient-1) 0%, var(--bg-gradient-2) 100%) center (center/cover) no-repeat;
    
}
.container{
    max-width: 940px;
    margin: 0 auto;
}
// .container{
//     min-height: 100%;
// }

@import 'blocks/main-column';
@import 'blocks/footer';
@import 'blocks/links';
@import 'blocks/switch';
@import 'blocks/checkbox';
@import 'blocks/overlay';
@import 'blocks/tags';
@import 'base/media';