.link-info{

}
.link-external{

}
.link-disabled{
    pointer-events: none;
    cursor: default;
    path{
        fill: var(--link-disabled);
    }
}
.link-active{
    path{
        fill: var(--link-active);
    }
}