.link-info{

}
.link-external{

}
.link-disabled{
    pointer-events: none;
    cursor: default;
    path{
        fill: $link-disabled;
    }
}
.link-active{
    path{
        fill: $link-active;
    }
}