.main-column{
    border-radius: 15px 15px 5px 5px;
    background-color: $background-color;
    box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: .3);
    min-height: 265px;
    max-width: 540px;
    margin: 0 auto;
    &__header{
        padding: 16px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        border-radius: 15px;
        box-shadow: 0px 5px 3px rgba($color: #000000, $alpha: .1);
        background-color: $item-color;
        height: 109px;
        &-left{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 100%;
        }
        &-right{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            height: 100%;
        }
    }
    &__title{
        font-size: 23px;
        font-weight: 700;
    }
    &__subtitle{
        font-size: 16px;
        font-weight: 500;
    }
    &__body{
        padding-bottom: 32px;
        min-height: 156px;
        padding-left: 12px;
        padding-right: 12px;
    }
    &__add{
        margin: 0 auto;
        text-align: center;
        margin-top: 32px;
        font-weight: 700;
        a{
            color: $link-grey;
        }
    }
    &__calendar{
        height: 17px;
        width: 17px;
        color:$link-grey;
    }
}
.column-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    width: 100%;
    height: 66px;
    background-color: $item-color;
    border-radius: 10px;
    padding: 12px;
    font-weight: 700;
    box-shadow: inset 1px 1px 1px 1px rgba($color: #000000, $alpha: .3);
    &__wrapper{
        margin-left: 12px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &__title{
        display: flex;
        flex-direction: row;
        height: 50%;
        align-items: center;
    }
    &__subtitle{
        display: flex;
        flex-direction: row;
        height: 50%;
        align-items: center;
        color: $link-grey;
        font-size: 14.5px;
    }
    &__subject{
        font-size: 19px;
    }
    &__descr{

    }
    &__date{
        &:before{
            content: 'до';
            margin-left: 5px;
            margin-right: 5px;
        }
    }
    &__calendar{
        height: 16px;
        width: 16px;
        margin-left: 8px;
        line-height: 15px;
        a{
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}