.tag{
    margin-left: 7px;
    font-size: 14px;
    border-radius: 2px;
    padding: 0px 10px 0px 10px;
    font-weight: 700;
    // height: 14px;
    &_exam{
        @include defaultTags($exam-color,25%);
    }
    &_lab{
        @include defaultTags($lab-color,45%);
    }
    &_practice{
        @include defaultTags($practice-color,30%);
    }
    &_lect{
        @include defaultTags($lect-color,45%);
    }
}

.tag-lang{
    // border-radius: 8px;
    // padding-left: 3px;
    // padding-right: 3px;
    &_english{
        @include languageTags('../icons/tags/uk.svg');
    }
    &_deutsch{
        @include languageTags('../icons/tags/deutsch.svg');
    }
}