.tag{
    font-size: 14px;
    border-radius: 2px;
    padding: 0px 10px 0px 10px;
    font-weight: 700;
    // height: 14px;
    &_exam{
        @include defaultTags(var(--exam-color),var(--exam-border));
    }
    &_lab{
        @include defaultTags(var(--lab-color),var(--lab-border));
    }
    &_practice{
        @include defaultTags(var(--practice-color),var(--practice-border));
    }
    &_lect{
        @include defaultTags(var(--lect-color),var(--lect-border));
    }
    &_hometask{
        @include defaultTags(var(--hometask-color),var(--hometask-border))
    }
}

.tag-lang{
    // border-radius: 8px;
    // padding-left: 3px;
    // padding-right: 3px;
    &_english{
        margin-left: 0;
        @include languageTags('../icons/tags/uk.svg');
    }
    &_deutsch{
        margin-left: 0;
        @include languageTags('../icons/tags/deutsch.svg');
    }
}